<!doctype html>
<html ng-app="sportsApp">
  <head>
    <!-- angular -->
    <script src="/angular/angular.js"></script>
    <script src="/javascripts/app.js"></script>
    <!-- ui-bootstrap -->
    <script src="/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <link rel="stylesheet" href="/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <!-- regular bootstrap -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist//css/bootstrap.css">
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
  </head>

  <body>
    <my-navbar></my-navbar>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 44.540, lng: -78.546},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?AIzaSyBuNzbrZB9oUlqXxXFtf50vCnB5ReaplGs&callback=initMap"
        async defer></script>
  </body>
</html>
