<!doctype html>
<html ng-app="sportsApp">
  <head>
    <!-- angular -->
    <script src="/angular/angular.js"></script>
    <script src="/javascripts/app.js"></script>
    <!-- ui-bootstrap -->
    <script src="/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <link rel="stylesheet" href="/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <!-- regular bootstrap -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist//css/bootstrap.css">
  </head>

  <body>
    <my-navbar></my-navbar>
    <h2>Games</h2>
    <div ng-controller="teamCtrl">
      <ul>
        <li ng-repeat="game in games">
          <a>{{game.h_name}} vs. {{game.a_name}} @ {{game.date}}</a>
        </li>
      </ul>
    </div>
  </body>
</html>